<input [(ngModel)]="newTaskTitle"/>
<button (click)="addNewTask()">Lisa ülesanne</button ><br><br>

<div *ngFor='let task of tasks'>
    <a [class]="task.done ? 'done' : ''" routerLink="/view/{{ task._id }}">{{ task.title }}</a>

    <input type="checkbox" [(ngModel)]="task.done"/>

    <button (click)="deleteTask(task._id)">X</button>
</div>
